body{
  background-image: url("./lighthouse.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

.homepage{
min-height: 100%;
height: 100vh;
width: 400px;
display: flex;
margin: auto;
align-items: center;
background-color: rgba(256,256,256,0);
}
.btn_HM{
  margin-right:10px;
  color: black;
}
