body {min-width:480px; }
input {width:98%; float:left;margin: 5px 0;}
.h1div {padding-top:2em;width:auto;}
.titleh1 {font-size: 5rem;text-align:center;}
.c_jumbo {height: 100vh; width: 100%; background-image: url(./lighthouse.jpeg); background-size: cover; background-repeat: no-repeat; background-position: bottom;}
.c_container {width: 50%; max-width:350px; margin: auto;background: rgba(255,255,255,.7);position:relative;height: 150px;border: 1px solid white;}
.submit_button {float:right;margin-left:5px;}